* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* Navbar Section */
#Navbar-Section {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding:0 20px;

}
#Navbar-Section .manu ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

#Navbar-Section .logo img {
    padding: 16px 0 16px 0;


}

#Navbar-Section .manu {
    display: flex;

    list-style: none;
    padding: 34px 0 34px 0;

    gap: 32px;
    line-height: 152%;

}

#Navbar-Section .manu a {
    text-decoration: none;
}

#Navbar-Section .btn {
    width:144px;
    height:44px;
    margin-top:24px;
    padding:12px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    border:none;
    cursor: pointer;

}

#banner {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 680px;

}

#banner .banner-container {
    align-items: center;
    width: 85%;
    max-width: 1360px;

}

#banner .banner-content {
     /* border: 1px solid red;  */
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
    margin-left: 65px;
    padding-bottom: 170px;
    padding: 0 250px;


}
#banner .banner-content .heading p{
    color: #469165;
     background-color: #FFFFFF; 
     margin: 0 270px;
     border-radius: 1000px;
     padding:8px 12px;
     font-size: 16px;
     
    
}
#banner .banner-content span{
    color: #469165
}




#banner .banner-content h1 {
    /* border: 1px solid red; */
    
    padding-top: 16px;
    font-size:72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    
    

}

#banner .banner-content p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 5px;
    /* border: 1px solid yellow; */
    

}




#banner .banner-content .btn {
   display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 24px;
    
} 
#banner .banner-content .btn .button-1{
    height: 52px;
    width: 240px;
    padding: 16px;
    background-color: #469165;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}
.btn .button-1 img{
    vertical-align: middle;
}

#banner .banner-content .btn .button-2{
    height:52px;
    width:198px;
    padding: 16px;
   background: none;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   cursor: pointer;
   border-radius: 5px;

}

#notes-Section{
     /* width:85%;
    max-width:1360px;  */
    

}
 #notes-Section .notes-container{
    /* border: 2px solid red; */

    justify-items: center;
   
    
 }
  .notes-heading{
    /* border: 2px solid red; */
  }
 .notes-container .notes-heading h2{
    font-size: 48px;
    padding-top: 50px;
    gap:16px;

 }
.notes-container .notes-heading p {
    line-height:20px;
    color:#627382;
}
.notes-container .notes-card{
    display: flex;
    margin-top:44px ;
    
    gap:16px;
}
.notes-card .card {
    /* border: 1px solid red; */
    width: 310px;
    height:250px;
    padding:28px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0 0 8px 0 black;
    /* background-color: #FFFFFF; */
}

.notes-card .card img{
    border: 1px solid red;
    background-color: red;
    border-radius:50%;
}

#brain{
    /* border: 1px solid red; */
    margin: 120px;
    align-items: center;
    
    
}
#brain .brain-Section{
    display: flex;
    gap:60px ;

}
#brain img {
    width: 600px;
    height: 600px;
}
#brain .brain-conten{
    /* border: 1px solid red; */
    margin: 102px 0;
    padding: 30px;
}
#brain .brain-conten h6{
    font-size: 16px;
    line-height: 20px;
    color:#469165;
    margin-bottom:16px;
}
#brain .brain-conten h2{
    font-size: 48px;
    margin-bottom: 16px;
}
#brain .brain-conten p{
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#brain .brain-conten ul{
    list-style: none;

}
#brain .brain-conten img{
    width: 24px ;
    height: 20px;
    vertical-align: middle;
}
   

#early-access{
    margin: 120px;
}

#early-access .early-container{
    /* border: 1px solid red; */
    background-color:#F7F6F2;
    text-align: center;
    padding:80px 0;
}
.early-container h3{
    font-size: 40px;
    margin-bottom:16px;
}
.early-container p{
    padding:0 380px;
    line-height: 24px;
    margin-bottom: 24px;
    
}
.early-container button{
      width:194px;
    height:52px;
    margin-top:24px;
    padding:12px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    border:none;
    cursor: pointer;
    margin-bottom:16px;

}
.early-container button img{
    vertical-align: middle;
}
.btn-4:hover{
    background-color:aqua;
    color: #0D1321;
    border: 2px solid #872BFF;
}










